<div class="container">
    <ul>
        <li>
            <a href="./assets/resume.pdf" target="_blank" title="Resume" download="resume.pdf">
                <fa-icon [icon]="faFilePdf" style="color: #f23819;" placement="top" ngbTooltip="Resume">
                </fa-icon>
            </a>
        </li>
        <li>
            <a href="https://github.com/sheldoncoates" target="_blank" title="Website">
                <fa-icon [icon]="faGithub" style="color: #000000;" placement="top" ngbTooltip="GitHub">
                </fa-icon>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sheldoncoates/" target="_blank" title="Website">
                <fa-icon [icon]="faLinkedin" style="color: #4584b6;" placement="top" ngbTooltip="LinkedIn">
                </fa-icon>
            </a>
        </li>
    </ul>
    <p>&copy; Sheldon Coates 2019</p>
</div>