ul {
  list-style-type: none;
  float: right;
}

li {
  display: inline;
  padding: 0px 2.5px 0px 2.5px;
}

li a {
  color: #777;
  text-decoration: none;
  padding: 0px 0px 10px 5px;
}
fa-icon {
  font-size: 25px;
}

p {
  float: left;
  font-size: 12px;
}