<head>
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

</head>
<div class="container">
    <div class="jumbotron">
        <h1>Skills</h1>
        <hr>
        <div class="skills">
            <div id="skill">
                <fa-icon [icon]="faJava"></fa-icon>
                <h3>Java</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faJsSquare" style="color: #f7df1e;"></fa-icon>
                <h3>Javascript</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faNodeJs" style="color: #6cc24a;"></fa-icon>
                <h3>Node</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faAngular" style="color: #b52e31;"></fa-icon>
                <h3>Angular</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faEmber" style="color: #f23819;"></fa-icon>
                <h3>Ember</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faHtml5" style="color:#e34f26;"></fa-icon>
                <h3>HTML 5</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faCss3Alt" style="color: #002561;"></fa-icon>
                <h3>CSS 3</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faReact" style="color: #00d8ff;"></fa-icon>
                <h3>React Native</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faReact" style="color: #00d8ff;"></fa-icon>
                <h3>React</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faPython" style="color: #4584b6;"></fa-icon>
                <h3>Python</h3>
            </div>
            <div id="skill">
                <fa-icon [icon]="faStackOverflow" style="color: #f48024;"></fa-icon>
                <h3>Stack Overflow</h3>
            </div>
            <div id="skill">
                <i class="devicon-csharp-plain devicon" style="color: #000000;"></i>
                <h3>C#</h3>
            </div>
            <div id="skill">
                <i class="devicon-cplusplus-plain devicon" style="color: #5D3775;"></i>
                <h3>C++</h3>
            </div>
            <div id="skill">
                <i class="devicon-mysql-plain coloured devicon" style="color: #00758f;"></i>
                <h3>MySQL</h3>
            </div>
            <div id="skill">
                <i class="devicon-mongodb-plain coloured devicon" style="color: #589636;"></i>
                <h3>MongoDB</h3>
            </div>
            <div id="skill">
                <i class="devicon-swift-plain colored devicon"></i>
                <h3>Swift</h3>
            </div>
            <div id="skill">
                <i class="devicon-git-plain colored devicon"></i>
                <h3>Git</h3>
            </div>
            <div id="skill">
                <i class="devicon-jquery-plain colored devicon"></i>
                <h3>jQuery</h3>
            </div>
            <div id="skill">
                <i class="devicon-bootstrap-plain colored devicon"></i>
                <h3>Bootstrap</h3>
            </div>
            <div id="skill">
                <i class="devicon-sass-original colored devicon"></i>
                <h3>Sass</h3>
            </div>
        </div>
    </div>
</div>