<nav id="nav">
    <a pageScroll [pageScrollOffset]="75" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" class="link" href="#about">About</a>
    <a pageScroll [pageScrollOffset]="75" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" class="link" href="#projects">Projects</a>
    <a pageScroll [pageScrollOffset]="75" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" class="link" href="#skills">Skills</a>
    <a class="link" href="mailto:sjrcoates@gmail.com?Subject=Contact%20me" target="_top">Contact</a>
</nav>